{% extends 'profile_base.html' %}

{% load static %}
{% load django_bootstrap5 %}


{% block title %}
{{ block.super }}: запросы
{% endblock %}


{% block content %}
<div class="container col-12 margin-mb100">
    <!-- <div class="vedinfo-logo">VEDINFO.ONLINE</div>
    <div class="text-center color-second-text">Мир без границ — расчеты без ошибок</div> -->


    <h2 class=" mt-1">История запросов </h2>

    Всего уникальных запросов {{unique_request}}. Получено ответов (позиций поставщиков): {{count}}


    <!-- template.html -->
    <form method="post">
        <div class="d-flex flex-md-row">
            <div class=" mt-1 me-2 ">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="ms-2"><button type="submit"
                    class="btn btn-sm bg-blue1 bg-hover1 color-button-text btn-block">Показать результаты</button></div>

        </div>



    </form>

    {% if results %}
    <h3>Результаты для запроса: {{ results.0.product }} ( всего позиций: {{results.count}} )</h3>
    <table class="table table-striped demotable ">
        <thead style="position: sticky;
top: -1px;
z-index:1;background: #9d9e9e; font-size:14px">
            <tr>
                <th scope="col">Поставщик</th>


                <th scope="col" class="d-none d-md-table-cell">Email</th>
                <th scope="col" class="d-none d-md-table-cell">Дата запроса</th>


            </tr>
        </thead>
        <tbody style="font-size:12px">
            {% for item in results %}
            <tr>
                <th>
                    <a href="{% url 'supplier_detail' item.supplier_name_id %}" target="_blank">
                        {{ item.supplier_name}}
                    </a>
                </th>


                <td class="d-none d-md-table-cell">{{item.supplier_email}}</td>
                <td class="d-none d-md-table-cell">{{item.created_at}}</td>



            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}





</div>


{% endblock %}