{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}


{% block title %}
{{ block.super }}: Profile
{% endblock %}


{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 fw-bold">
        <h1 class="h3 mb-0 text-gray-800">Личный кабинет</h1>
        <div>{{request.user.first_name}} {{request.user.last_name}}</div>
        <div>email: {{request.user.email}}</div>
        <div> Телефон: {{user_phone}}</div>

    </div>
    <p>Содержание страницы будет определено позднее.</p>
    <div class="d-flex my-3">
     
        <!-- <label class="mr-3">Сделано уникальных запросов: {{unique_request}} </label>
        <label class=" mx-3">Найдено поставщиков: {{count}}</label> -->
        <div class="mx-3">Доступно запросов: <b>{{user_subscribe}}</b> </div>
        <div>
            <a class=" text-decoration-none bg-hover1 border mx-3" href="{% url 'subscribe' %}">Пополнить подписку</a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a class="me-3 btn bg-hover1 border" href="#supplier_response">Ответы
                        поставщика</a></li>
                        
                <li class="nav-item"><a class="mx-3 btn  bg-hover1 border" href="#send_request">Запросы
                        поставщику</a></li>

                <li class="nav-item"><a class="mx-3 btn  bg-hover1 border" href="#supplier_list">Мои
                        поставщики</a></li>


                <li><a class="mx-3 btn bg-hover1 border" href="{% url 'customer_request' %}">Новый
                        запрос поставщикам</a></li>
            </ul>
        </div>
    </nav>

    <h3 class=" mt-5" id="supplier_response">Ответы поставщиков на отправленные запросы</h3>
    <div>
   

    {% if response_data %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Продукт</th>
                    <th>Email поставщика</th>
                    <th>Дата запроса</th>
                    <th>Дата ответа</th>
                    <th>Ответ поставщика</th>
                    <th>Email ответившего</th>
                    <th>Email ID</th>
                    <!-- <th>Вложение</th> -->
                </tr>
            </thead>
            <tbody style="font-size: 12px;">
                {% for item in response_data %}
                <tr>

                    <td>{{ item.sent_email.product }}</td>
                    <td>{{ item.sent_email.email }}</td>
                    <td>{{ item.sent_email.sended_at|date:"d.m.Y H:i" }}</td>

                    {% if item.response %}
                    <td>{{ item.response.received_at|date:"d.m.Y H:i" }}</td>
                    <td>
                        <a href="{% url 'supplier_response_detail' item.response.id %}">

                            {{ item.response.message|striptags|truncatechars:50 }}
                            <!--striptags убирает html tags из сообщения-->

                        </a>
                    </td>
                    <td>{{ item.response.email }}</td>
                    <td>{{ item.response.id }}</td>
                    <!-- <td>
                        {% if item.response.attachment %}
                        <a href="{{ item.response.attachment.url }}" download class="btn btn-sm btn-outline-primary">
                            <i class="fas fa-download"></i> Скачать
                        </a>
                        {% else %}
                        -
                        {% endif %}
                    </td> -->
                    {% else %}
                    <td class="text-muted">-</td>
                    <td class="text-center text-muted">Нет ответа</td>
                    <td class="text-muted">-</td>
                    <td>-</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info">
        <h4>Нет отправленных запросов</h4>
        <p>Вы еще не отправляли запросы поставщикам.</p>
        <a href="{% url 'supplier_selection' %}" class="btn btn-primary">Найти поставщиков</a>
    </div>
    {% endif %}
</div>
    <h3 class=" mt-5" id="send_request">Отправленные запросы поставщикам</h3>
    {% if results %}

    <table class="table table-striped demotable ">
        <thead style="position: sticky;
top: -1px;
z-index:1;background: #9d9e9e; font-size:14px">
            <tr>
                <th scope="col">User</th>
                <th scope="col" class="d-none d-md-table-cell">Email</th>
                <th scope="col" class="d-none d-md-table-cell">Продукт</th>
                <th scope="col" class="d-none d-md-table-cell">Сообщение</th>
                <th scope="col" class="d-none d-md-table-cell">Отправлен</th>


            </tr>
        </thead>
        <tbody style="font-size:12px">
            {% for item in results %}
            <tr>
                


                <td class="d-none d-md-table-cell">{{item.user}}</td>
                <td class="d-none d-md-table-cell">{{item.email}}</td>
                <td class="d-none d-md-table-cell">{{item.product}}</td>
                <td class="d-none d-md-table-cell">{{item.message}}</td>
                <td class="d-none d-md-table-cell">{{item.sended_at}}</td>



            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info">
        <h4>Нет отправленных запросов</h4>
        <p>Вы еще не отправляли запросы поставщикам.</p>
        <a href="{% url 'supplier_selection' %}" class="btn btn-primary">Найти поставщиков</a>
    </div>
    {% endif %}


    <h3 class=" mt-5" id="supplier_list">Мои отобранные поставщики</h3>
</div>
<!-- End of Main Content -->
{% endblock %}