<!-- customer_account/templates/account/suppliers_by_product.html -->
{% extends 'base.html' %} 
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ title }}</h2>
    
    {% if suppliers %}
        <table class="table table-striped demotable">
            <thead style="position: sticky; top: -1px; z-index:1;background: #9d9e9e; font-size:14px">
                <tr>
                    <th scope="col">Наименование компании</th>
                    <th class="d-none d-md-table-cell" scope="col">Email</th>
                    <th scope="col">Страна</th>
                    <th class="d-none d-md-table-cell" scope="col">Категория</th>
                    <!-- <th scope="col">ID</th> -->
                    <!-- Добавьте другие поля из модели Supplier, если нужно -->
                </tr>
            </thead>
            <tbody style="font-size:12px">
                {% for supplier in suppliers %}
                <tr>
                    {% if section_type == 'goods' %}
                    <th>
                     <a href="{% url 'supplier_detail' pk=supplier.supplier_name__id %}" target="_blank">
                        
                        {{ supplier.supplier_name__name }}
                    </a></th>
                    {% elif section_type == 'technology' %}
                    <th>
                    <a href="{% url 'technology_detail' pk=supplier.supplier_name__id %}" target="_blank">
                        
                        {{ supplier.supplier_name__name }}
                    </a></th>
                    {% elif section_type == 'logistic' %}
                        <th>
                     <a href="{% url 'logistic_detail' pk=supplier.supplier_name__id %}" target="_blank">
                        
                         {{ supplier.supplier_name__name }}
                    </a></th>
                    {% else %}
                        <th>             
                        
                         {{ supplier.supplier_name__name }}
                        </th>
                    {% endif %}
                    <!-- <td>{{ supplier.supplier_name__name }}</td> -->
                    <td class="d-none d-md-table-cell">{{ supplier.supplier_email }}</td>
                    <td >{{ supplier.country }}</td>
                    <td class="d-none d-md-table-cell">{{ supplier.category }}</td>
                    <!-- <td class="d-none d-md-table-cell">{{ supplier.supplier_name__id }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Для {{ section_type }} "{{ product_name }}" не найдено поставщиков в ваших результатах поиска.</p>
    {% endif %}
   
</div>
{% endblock %}
