[MESSAGES CONTROL]
disable=missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        import-outside-toplevel,
        attribute-defined-outside-init,
        line-too-long,
        invalid-str-returned,
        no-member,

        function-redefined,
        unused-import,
        pointless-string-statement,
        wildcard-import,
        unused-wildcard-import,
        unused-variable,
        trailing-newlines,
        trailing-whitespace,
        missing-final-newline,
        invalid-name,

        raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        use-symbolic-message-instead,
        unused-argument,
        import-error,
        logging-fstring-interpolation,
        broad-exception-caught,
