{% extends 'simple.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
{{ block.super }}: Авторизация
{% endblock %}


{% block content %}
<div class="container col-12 mx-auto mb-3 content">
    <div class="text-center my-4"> <img src="{% static 'logo/logo.png' %}" alt="logo" height="60"></div>

    <h3 class="text-center mt-5">Информационная система «Поиск поставщиков продукции»</h3>

    <h5 class="text-center mt-5">Демо-версия. Django-приложение</h5>


    

   
     {% if user.is_authenticated %}
    <div class="text-center">
        <a class="btn  btn-outline-secondary mt-3" href="{% url 'main' %}">На Главную</a>
    </div>
    <div class="text-center">
        <a class="btn  btn-outline-primary mt-3" href="{% url 'logout' %}">Logout</a>
    </div>
    {% else %} 
    <p class="text-center">Для работы с приложением необходимо<br> <a class=" btn btn-sm btn-outline-secondary mt-3"
        href="{% url 'login' %}">авторизоваться</a> <br>или<br> <a class="btn btn-sm btn-outline-secondary "
        href="{% url 'register' %}">зарегистрироваться</a></p>

    {% endif %}

  


</div>


{% endblock %}