{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}


{% block title %}
{{ block.super }}: инфо
{% endblock %}


{% block content %}
<div class="container col-12 margin-mb100">
    <!-- <div class="vedinfo-logo">VEDINFO.ONLINE</div>
    <div class="text-center color-second-text">Мир без границ — расчеты без ошибок</div> -->


    <h3 class="text-center mt-5">Информационная система «Поиск поставщиков продукции»</h3>


    <div class="text-center my-3 color-second-text">информация по порядку работы в системе поиска</div>

     <h5>Приложение имеет следующую функциональность: </h5>

        <div class="ms-3">
            <p>Приложение имеет уникальную базу данных, которая включает:
                <ul>
                    <li>поставщиков всего: {{supplier_list}}</li>
                    <li>стран-экспортеров: {{country_list}}</li>
                    <li>категорий товаров: {{category_list}}</li>
                </ul>
               </p>
            <p>Пользователь по запросу на странице <b>"Поиск поставщика"</b>находит производителя/поставщика
                заданного продукта из заданной страны. </p>
            <p>Пользователь может просмотреть список производителей продукта по всем странам.</p>

            <p>Имеется большой перечень предприятий, с описанием производимой продукции. По этому описанию и
                производится полнотекстовый поиск.</p>
        </div>
        
        <h5 class="mt-3">Особенности регистрации и авторизации пользователя: </h5>
        <div class="ms-3 mb-5">
            <p>При регистрации обязательно надо подтвердить email. Для подтверждения, на указанный полльзователем адрес
                отправляется уведомление для подтверждения email. Срок действия уведомления 24 часа. </p>
            <p>При регистрации данные об оборудовании (компьютере,
                планшете, телефоне) с которого произведена регистрация сохраняются в приложении.</p>
            <p>Авторизация пользователя с неподтвержденным email или заходящего с другого оборудования запрещена. </p>
        </div>

   

        

</div>


{% endblock %}

