{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}


{% block title %}
{{ block.super }}: инфо
{% endblock %}


{% block content %}
<div class="container col-12 margin-mb100">
    <!-- <div class="vedinfo-logo">VEDINFO.ONLINE</div>
    <div class="text-center color-second-text">Мир без границ — расчеты без ошибок</div> -->


    <h3 class="text-center mt-5">Информационная система «Поиск поставщиков продукции»</h3>


    <div class="text-center my-3 color-second-text">информация по порядку работы в системе поиска</div>

   
        <h5>Приложение имеет следующую функциональность: </h5>

        <div class="ms-3">
            <p>Приложение содержит {{supplier_list }} поставщиков из {{country_list}} стран по {{category_list}}
                категориям</p>
            <p>Пользователь по запросу на странице <b>"Поиск поставщика"</b>находит производителя/поставщика
                заданного продукта из заданной страны. </p>
            <p>Пользователь может просмотреть список производителей продукта по всем странам.</p>

            <p>Имеется большой перечень предприятий, с описанием производимой продукции. По этому описанию и
                производится полнотекстовый поиск.</p>
        </div>
        Администратор сайта может добавлять данные из xlsx файла через поле <b>"Загрузки"</b> и редактировать базу
        данных в <b> "Admin".</b>

        

</div>


{% endblock %}

