{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}


{% block title %}
{{ block.super }}: Главная
{% endblock %}


{% block content %}
<div class="container col-12 mx-auto mb-3 content">
    

    <h3 class="text-center mt-5">Информационная система «Поиск поставщиков продукции»</h3>


    <div class="text-center my-3">в стадии разработки</div>

    <div>
        <h4>Приложение имеет следующую функциональность: </h4>
        
        <ul>
            <li>Пользователь по запросу на странице <b>"Поиск поставщика"</b> может находить необходимого производителя/поставщика
                заданного продукта из заданной страны. </li>
                <li>Пользователь может просмотреть список производителей из заданной страны.</li>
                <li>Приложение содержит {{supplier_list }} поставщиков из {{country_list}} стран по {{category_list}} категориям</li>
                <li>Имеется большой перечень предприятий, с описанием производимой продукции. По этому описанию и производится поиск.</li>
        </ul>
        Администратор сайта может добавлять данные из xlsx файла через поле <b>"Загрузки"</b> и редактировать базу данных в <b> "Admin".</b>
        
    </div>




</div>


{% endblock %}