{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}


{% block title %}
{{ block.super }}: Главная
{% endblock %}


{% block content %}
<div class=" col-12 mx-auto mb-3">
    <div class="vedinfo-logo">VEDINFO.ONLINE</div>
    <div class="text-center color-second-text">Мир без границ — расчеты без ошибок</div>


    <h3 class="text-center mt-5">Информационная система «Поиск поставщиков продукции»</h3>


    <div class="text-center my-3 color-second-text">в стадии разработки</div>

    <div>
        <h5>Приложение имеет следующую функциональность: </h5>

        <div class="ms-3">
            <p>Приложение содержит {{supplier_list }} поставщиков из {{country_list}} стран по {{category_list}}
                категориям</p>
            <p>Пользователь по запросу на странице <b>"Поиск поставщика"</b>находит производителя/поставщика
                заданного продукта из заданной страны. </p>
            <p>Пользователь может просмотреть список производителей продукта по всем странам.</p>

            <p>Имеется большой перечень предприятий, с описанием производимой продукции. По этому описанию и
                производится полнотекстовый поиск.</p>
        </div>
        Администратор сайта может добавлять данные из xlsx файла через поле <b>"Загрузки"</b> и редактировать базу
        данных в <b> "Admin".</b>

        <h5 class="mt-3">Особенности регистрации и авторизации пользователя: </h5>
        <div class="ms-3">
            <p>При регистрации обязательно надо подтвердить email. Для подтверждения, на указанный полльзователем адрес
                отправляется уведомление для подтверждения email. Срок действия уведомления 24 часа. </p>
            <p>При регистрации сохраняются в приложении данные об IP пользователя и об оборудовании (компьютере,
                планшете, телефоне) с которого произведена регистрация.</p>
            <p>Авторизация пользователя с неподтвержденным email или заходящего с другого оборудования запрещена. </p>
        </div>

    </div>




</div>


{% endblock %}