{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}


{% block title %}
{{ block.super }}: Главная
{% endblock %}


{% block content %}

<div id='box' class="container col-12 margin-mb100">
    <div class="vedinfo-logo">VEDINFO.ONLINE</div>
    <h5 class="text-center color-second-text mb-5">мир без границ — расчеты без ошибок</h5>


    <div class="mb-2" style="text-align: justify"><b>VEDINFO.ONLINE - это цифровая платформа</b>,
        которая предоставляет актуальную информацию о компаниях производителях
        продукции по всему миру, обо всех товарах, находит наиболее подходящих торговых партнеров для вашей компании и
        соединяет вас с партнерами будущего.</div>


    <hr>

    <div class="mb-2" style="text-align: justify"><b>Сервис позволит Вам найти тысячи вариантов интересующей Вас
            продукции</b>, выбрать логистическую компанию на основании сотен предложений по тарифам, определить надежный и доступный способ проведения расчетов с
        поставщиками, рассчитать стоимость таможенной очистки с учетом всех преференций и льгот, если такие существуют,
        а также провести сравнительный анализ по выбранной продукции со стоимостью контрактов на аналогичную продукцию в
        России. Поскольку наши данные содержат практически все предприятия производители, логистические компании, а
        также учитывая способ проведения расчетов, физически сложно или невозможно найти более оптимальный вариант
        построения торговых связей по совокупности всех перечисленных факторов. Вы можете сделать для себя неожиданные
        открытия.</div>

    <hr>

    <div class="mb-2" style="text-align: justify">Отдельно <b>будет предоставлен доступ к аналитической информации</b>,
        в которой можно осуществлять поиск не только по коду ТН ВЭД, но и по компании-импортеру, компании-экспортеру,
        деталям товара, названию торговой марки или информации о стране происхождения за выбранный Вами период времени.
        Данный основаны на информации, содержащейся в таможенных декларациях по всему миру, данных по операциям всех
        торговых портов за последние пять лет. Таким образом, вы можете получить доступ к глобальным рынкам и найти
        новые рынки и клиентов.</div>

    <hr>

    <div class="mb-2" style="text-align: justify">В разработке также находится <b>АРI (Application Programming
            Interface) — который позволит интегрировать наши данные с любой иной информационной системой или
            сервисом</b>, который используется в Вашей организации. Это могут быть системы класса ERP или CRM, 1С, SAP,
        Oracle, бухгалтерские и банковские системы, корпоративные порталы и системы дистанционного банковского
        обслуживания и др.</div>


</div>


{% endblock %}