{% extends 'base.html' %}

{% block title %}
{{ block.super }}:политика
{% endblock %}

{% block content %}


<div class="my-3 mx-3">
    <div ><a href="{% url 'register' %}"> Вернуться к регистрации</a></div>
    <h1>Политика конфиденциальности</h1>
    <h3>Термины и определения</h3>
   

1.1. «Сайт» — интернет-проект, наш информационный портал, содержащий общую информацию о компаниях.

1.2. «Владелец» — администратор сайта, обладатель исключительных прав на использование Сайта, в том числе входящих в его состав программ для ЭВМ и баз данных, информационных материалов, графических изображений, являющихся элементами пользовательского интерфейса, и иных охраноспособных объектов, входящих в состав Сайта, а также на дизайн Сайта, осуществляющий управление Сайтом и иные действия, связанные с его использованием.

1.3. «Пользователь» — любое лицо, использующее функциональные возможности Сайта, в т.ч. просмотр, копирование, передачу любого рода информации из любого раздела Сайта. К пользователям относятся как зарегистрированные, так и незарегистрированные на Сайте лица.

1.4. «Соглашение» — настоящее Соглашение, заключенное между Владельцем сайта и Пользователем.

1.5. «Сторона и Стороны» — Владелец или Пользователь в отдельности, либо Владелец или Пользователь совместно.

Общие положения

2.1. Соглашение устанавливает правила и условия использования Сайта Пользователями, которые после регистрации или без таковой, осуществляя использование Сайта и его служб, становятся Пользователями Сайта и услуг, предоставляемых Владельцем.

2.2. Использование Пользователем Сайта, любых его служб, функционала означает безоговорочное согласие Пользователя со всеми пунктами Соглашения и безоговорочное принятие его условий с обязательствами соблюдать обязанности, возложенные на Пользователя по Соглашению. Факт использования Пользователем Сайта в т.ч. просмотр разделов, контента, сообщений пользователей Сайта, а также регистрация Пользователя на Сайта является полным и безоговорочным акцептом Соглашения.

2.3. Согласие Пользователя использовать Сайт после любых изменений Соглашения означает его согласие с такими изменениями и/или дополнениями.

2.4. Пользователь обязуется регулярно знакомиться с содержанием Соглашения, в целях своевременного ознакомления с его изменениями.

2.5. Владелец оставляет за собой право по своему личному усмотрению изменять и (или) дополнять Соглашение в любое время без предварительного и (или) последующего уведомления Пользователя. С момента размещения на Сайте новой редакции Соглашения предыдущая редакция считается утратившей свою силу. Действующая редакция Соглашения всегда доступна в интерфейсе Сайта по адресу /privacy-policy.

2.6. Если Вы (Пользователь) не согласны соблюдать Соглашение, не используйте Сайт, а если являетесь зарегистрированным Пользователем, незамедлительно удалите свою учетную запись и/или прекратите использование Сайта.

2.7. Ничто в Соглашении не может толковаться или пониматься как установление между Владельцем и Пользователем агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо иных отношений, прямо не предусмотренных Соглашением.

2.8. Владелец вправе совмещать размещенные Пользователями на Сайте сообщения с информацией рекламного характера в форме графических или текстовых модулей (баннеров).

2.9. Официальный язык Сайта — русский. Другие языки могут использоваться на Сайте в соответствии с Соглашением.

Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.

Ограничение ответственности

3.1. Пользователь прямо соглашается, что использует Сайт на свой собственный риск. Информационные материалы, советы и рекомендации, представленные на Сайте, служат лишь для ознакомления и не могут являться руководством к действию.

3.2. Сайт является специализированным интернет-изданием, предназначенным для информирования о компаниях такси.

3.3. Пользователи Сайта из других стран должны использовать информацию в соответствии с правилами, которые действуют на их территории.

3.4. Владелец Сайта не несет ответственности за возможный ущерб, нанесённый вам по рекомендациям, данным на Сайте. Пользователь полностью отвечает за любую неправильную трактовку, которая может возникнуть вследствие просмотра, чтения или копирования материалов, содержащихся на Сайте и таким образом никакое юридическое или физическое лицо не может быть ответственно за использование упомянутых материалов. Ни при каких обстоятельствах ответственность за последствия, которые прямо или косвенно повлекло за собой использование информации, размещенной на этом Сайте, не может возлагаться на Владельца Сайта и быть основанием для их судебного преследования.

3.5. Услуги Сайта предоставляются по принципу «как есть» без гарантий любого рода как прямых, так и косвенных. Пользователь в добровольном порядке отказывается от судебного преследования владельцев сайта и возмещения возможного вреда, причиненного Пользователю.

3.6. Ни администрация Сайта, ни её партнёры или сотрудники не гарантируют бесперебойной и безошибочной работы Сайта; также они не гарантируют, что таковыми будут как результаты, полученные в ходе использования Сайта, так и точность и применимость его материалов.

Владелец не несёт ответственность за характер и содержание сообщений, размещаемых Пользователем самостоятельно в любых разделах сайта, включая форум и комментарии к материалам Сайта. При этом комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.

Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.

Владелец не несет ответственности за содержание консультаций, предоставляемых зарегистрированными Пользователями, а также достоверность ответов в комментариях. Подобная информация носит исключительно рекомендательный, ознакомительный характер, и не является окончательным руководством к действию.

В случае, если Пользователем была размещена информация, распространение которой ограничивается или запрещается законами, нарушает авторское или иное защищаемое законом право, всю ответственность за ее размещение несет Пользователь.

Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.

Ссылка на любой Сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная на Сайте, не является одобрением или рекомендацией данных продуктов (услуг) со стороны Владельца. Владелец Сайта не несет ответственность за содержание, доступное по ссылкам, размещенным на Сайте.

Изменение содержания Сайта

4.1. Вся информация и материалы, размещенные на данном Сайте, представлены без гарантии того, что они не могут содержать ошибки. Владелец Сайта имеет право изменять информацию и материалы, размещенные на данном сайте, в любое время и без предварительного объявления о таких изменениях.

Торговые марки

5.1. Зарегистрированные торговые марки, знаки, упоминаемые на Сайте, являются собственностью их соответствующих владельцев.

Изменение условий

6.1. Настоящее Соглашение не является договором. Владелец Сайта оставляет за собой право как изменить настоящее Соглашение, так и ввести новое. Подобные изменения вступают в силу с момента их размещения на Сайте. Использование Пользователем материалов сайта после изменения Соглашения автоматически означает их принятие.

Интеллектуальная собственность

7.1. Исключительные права на содержимое сайта (элементы дизайна, тексты, графические изображения, иллюстрации, видео, скрипты, программы, музыку, звуки и т.д.) принадлежат Владельцу. Все права на них защищены законом.

7.2. Размещая в разделах Сайта, не предназначенных для оказания информационных услуг, авторские тексты, изображения, любые иные данные, лицо, зарегистрированное на Сайте, безвозмездно предоставляет Владельцу право на их использование путем воспроизведения и копирования, доведения до всеобщего сведения, публичного показа, публичного исполнения, переработки, перевода и распространения для целей Сайта или в связи с ними, в том числе для его популяризации, включая право передачи третьим лицам. Пользование указанной информацией осуществляется на не исключительных условиях, на неограниченный срок и не имеет территориального ограничения.

7.3. Пользователю запрещается любое копирование и публикация материалов Сайта в других изданиях без обратной ссылки на сайт Владельца.

Какие персональные данные мы собираем и с какой целью

8.1. Если посетитель оставляет комментарий на сайте, мы собираем данные указанные в форме комментария, а также IP адрес посетителя и данные user-agent браузера с целью определения спама.

8.2. Если вы оставляете комментарий на нашем сайте, вы можете включить сохранение вашего имени, адреса email и вебсайта в куки. Это делается для вашего удобства, чтобы не заполнять данные снова при повторном комментировании. Эти куки хранятся в течение одного года.

Если у вас есть учетная запись на сайте и вы войдете в неё, мы установим временный куки для определения поддержки куки вашим браузером, куки не содержит никакой личной информации и удаляется при закрытии вашего браузера.

При входе в учетную запись мы также устанавливаем несколько куки с данными входа и настройками экрана. Куки входа хранятся в течение двух дней, куки с настройками экрана - год. Если вы выберете возможность "Запомнить меня", данные о входе будут сохраняться в течение двух недель. При выходе из учетной записи куки входа будут удалены.

Встраиваемое содержимое других вебсайтов

8.3. Статьи на этом сайте могут включать встраиваемое содержимое (например видео, изображения, статьи, карты и др.), подобное содержимое ведет себя так же, как если бы посетитель зашел на другой сайт.

Эти сайты могут собирать данные о вас, использовать куки, внедрять дополнительное отслеживание третьей стороной и следить за вашим взаимодействием с внедренным содержимым, включая отслеживание взаимодействия, если у вас есть учетная запись и вы авторизовались на том сайте.

Как долго мы храним ваши данные

9.1. Если вы оставляете комментарий, то сам комментарий и его метаданные сохраняются неопределенно долго. Это делается для того, чтобы определять и одобрять последующие комментарии автоматически, вместо помещения их в очередь на одобрение.

9.2. Для пользователей с регистрацией на нашем сайте мы храним ту личную информацию, которую они указывают в своем профиле. Все пользователи могут видеть, редактировать или удалить свою информацию из профиля в любое время (кроме имени пользователя). Администрация вебсайта также может видеть и изменять эту информацию.

Какие у вас права на ваши данные

10.1. При наличии учетной записи на сайте или если вы оставляли комментарии, то вы можете запросить файл экспорта персональных данных, которые мы сохранили о вас, включая предоставленные вами данные. Вы также можете запросить удаление этих данных, это не включает данные, которые мы обязаны хранить в административных целях, по закону или целях безопасности.

Куда мы отправляем ваши данные

11.1. Комментарии пользователей могут проверяться автоматическим сервисом определения спама.

Время и условия действия пользовательского соглашения

12.1. Настоящее соглашение вступает в силу с момента начала использования информации на Сайте и распространяется на неопределенный срок.

12.2. Владелец имеет право на одностороннее изменение положений Соглашения, без уведомления Пользователя о таких изменениях.

Бездействие со стороны Владельца Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Владельца права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.

Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.
</div>

{% endblock %}