body { 
 font-size:14px;
 background-color: #F5F7FA;
 color: #2C3E50;
}
.mcolor{
    color:#2C3E50;
}
.bcolor-fon{
    background-color: #D1D8E0;
}

.bcolor-blue{
    background-color: #2980B9;

}

.bcolor-accent{
    background-color: #2C3E50;
}
