{% extends 'simple.html' %}

{% block title %}
{{ block.super }}: Login
{% endblock %}


{% block content %}
<div class="container col-lg-6 col-md-8 col-12 mx-auto mb-3">
   {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}
  <h5 class="my-5">Авторизация</h5>


  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
  <div class="mt-3">Если Вы не зарегистированы, перейдите на страницу регистрации - <a
      class="btn bg-hover1 btn-outline-secondary " href="{% url 'register' %}">Регистрация</a></div>
</div>
 <div class="ms-5 mt-3"><a
      class="btn btn-outline-info " href="{% url 'login_a' %}">AdminLogin</a></div>

{% endblock %}