{% load static %}
<div class="nav-widht container bg-light1 border-bottom sticky-top">


    <nav class="navbar navbar-expand-lg navbar-light   my-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'start' %}"><img style="width: 40px;"
                    src="{% static '/logo/logo.png' %}" alt="photo"></a>
            <a class="navbar-brand nav-vedinfo-logo" href="{% url 'start' %}">VEDINFO.ONLINE</a>
            <!--mobile nav button-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Переключатель навигации">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <!-- class="burger" style="display: block;"> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                    <path
                        d="M30.75 14.75H1.25C0.559625 14.75 0 15.3096 0 16C0 16.6904 0.559625 17.25 1.25 17.25H30.75C31.4404 17.25 32 16.6904 32 16C32 15.3096 31.4404 14.75 30.75 14.75Z"
                        fill="#2C3E50"></path>
                    <path
                        d="M30.75 4.75H1.25C0.559625 4.75 0 5.30963 0 6C0 6.69037 0.559625 7.25 1.25 7.25H30.75C31.4404 7.25 32 6.69037 32 6C32 5.30963 31.4404 4.75 30.75 4.75Z"
                        fill="#2C3E50"></path>
                    <path
                        d="M30.75 24.75H1.25C0.559625 24.75 0 25.3096 0 26C0 26.6904 0.559625 27.25 1.25 27.25H30.75C31.4404 27.25 32 26.6904 32 26C32 25.3096 31.4404 24.75 30.75 24.75Z"
                        fill="#2C3E50"></path>
                </svg>

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page" href="{% url 'main' %}">Главная</a>
                    </li>
                    {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'supplier_selection' %}">Поиск
                            поставщика</a>
                    </li>

                    {% elif request.user.is_authenticated %}


                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'supplier_search_primary' %}">Поиск
                            поставщика</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'tariffs_page' %}">Тарифы</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'info_page' %}">Информация</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Информация
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'info_page' %}">О приложении</a></li>
                            <li><a class="dropdown-item" href="{% url 'policy' %}" target="_blank">Политика
                                    конфиденциальности</a> </li>

                        </ul>
                    </li>




                    {% if request.user.is_authenticated %}
                    <li class="nav-item mx-6">
                        <a class="nav-link text-dark" href="{% url 'dashbord' %}">Личный кабинет</a>
                    </li>


                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'register' %}">Зарегистрироваться</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'login_a' %}">AdminLogin</a>
                    </li>


                    {% endif %}

                    {% if request.user.is_superuser %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle color-dark1 " href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Загрузки
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item color-dark1" href="{% url 'upload_suppliers' %}">Загрузить
                                    Поставщиков</a></li>
                            <li><a class="dropdown-item color-dark1"
                                    href="/adminrav25/supplier/category/import/">Загрузить Категории (в
                                    admin)</a></li>
                            <li><a class="dropdown-item color-dark1"
                                    href="/adminrav25/supplier/country/import/">Загрузить Страны (в
                                    admin)</a></li>
                            <!-- <li><a class="dropdown-item" href="{% url 'export_to_excel' %}">Export to Excel</a></li>
                        <li><a class="dropdown-item" href="{% url 'supplier_delete' %}">Supplier_delete</a></li> -->


                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle color-dark1" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Списки
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'supplier_list' %}">Список Поставщиков</a></li>
                            <li><a class="dropdown-item" href="{% url 'country_list' %}">Список Стран</a></li>
                            <li><a class="dropdown-item" href="{% url 'category_list' %}">Список Категорий</a></li>


                        </ul>
                    </li>
                    <li class="nav-item color-dark1"><a class="nav-link" target="_blank"
                            href="{% url 'admin:index' %}">Admin</a></li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'contact' %}">Контакты</a>
                    </li>
                    {% endif %}



                </ul>




                <div class="position-absolute end-0 color-dark1">
                    {% if user.is_authenticated %}
                    <img style="width: 20px;" src="{% static '/images/u.webp' %}" alt="username">
                    <span><b> {{ user.username }} </b></span>
                    <span>
                        <a class="text-decoration-none color-second-text mx-2" type="submit"
                            onclick="return confirm('Вы хотите выйти из аккаунта?')" title="Выйти из аккаунта"
                            href="{% url 'logout' %}">
                            <img style="width: 24px;" src="{% static '/images/v.webp' %}" alt="exit"></a>
                    </span>
                    {% else %}

                    <!-- <span>Логин</span> -->
                    <span class="nav-item">
                        <a class="nav-link active color-dark1" title="Войти в аккаунт" aria-current="page"
                            href="{% url 'login' %}">Логин <img style="width: 26px;" src="{% static '/images/a.png' %}"
                                alt="exit"></a>
                    </span>

                    {% endif %}
                </div>

                <!-- <span class="position-absolute end-0 me-3"> Логин: <b> {{ user.username }} </b></span> -->

            </div>
        </div>


    </nav>
</div>