{% load static %}
<div class="nav-widht container bg-second1 border-bottom sticky-top">


    <nav class="navbar navbar-expand-lg navbar-light   my-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'start' %}"><img style="width: 40px;"
                    src="{% static '/logo/logo.png' %}" alt="photo"></a>
            <a class="navbar-brand nav-vedinfo-logo" href="{% url 'start' %}">VEDINFO.ONLINE</a>
            <!--mobile nav button-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Переключатель навигации">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <!-- class="burger" style="display: block;"> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                    <path
                        d="M30.75 14.75H1.25C0.559625 14.75 0 15.3096 0 16C0 16.6904 0.559625 17.25 1.25 17.25H30.75C31.4404 17.25 32 16.6904 32 16C32 15.3096 31.4404 14.75 30.75 14.75Z"
                        fill="#2C3E50"></path>
                    <path
                        d="M30.75 4.75H1.25C0.559625 4.75 0 5.30963 0 6C0 6.69037 0.559625 7.25 1.25 7.25H30.75C31.4404 7.25 32 6.69037 32 6C32 5.30963 31.4404 4.75 30.75 4.75Z"
                        fill="#2C3E50"></path>
                    <path
                        d="M30.75 24.75H1.25C0.559625 24.75 0 25.3096 0 26C0 26.6904 0.559625 27.25 1.25 27.25H30.75C31.4404 27.25 32 26.6904 32 26C32 25.3096 31.4404 24.75 30.75 24.75Z"
                        fill="#2C3E50"></path>
                </svg>

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-6">
                        <a class="nav-link text-dark" href="{% url 'dashbord' %}">Личный кабинет</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                          Поиск поставщиков
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'supplier_selection' %}">Поставщики товаров</a></li>
                            <li><a class="dropdown-item" href="{% url 'technology_selection' %}">Поставщики технологий</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logistic_selection' %}">Поставщики логистики</a>
                            </li>
                


                        </ul>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'supplier_selection' %}">Поставщики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'technology_selection' %}">Технологии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'logistic_selection' %}">Логистика</a>
                    </li> -->
                    <li class="nav-item mx-6">
                        <a class="nav-link text-dark" href="{% url 'bank_clearing:subscription_list' %}">Подписка</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Мои Запросы
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'customer_request' %}">Запросы по товарам</a></li>
                            <li><a class="dropdown-item" href="{% url 'technology_request' %}">Запросы по технологии</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logistic_request' %}">Запросы по логистике</a>
                            </li>
                            <hr>
                            <li><a class="dropdown-item" href="{% url 'customer_mail' %}">Отправленные поставщику</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'supplier_responses' %}">Ответы на запросы</a>
                            </li>


                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Услуги (TBD)
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                             <li class="mx-5 badge bg-info text-wrap">TBD - будет определено позднее</li>
                            <!-- <li><a class="dropdown-item" href="#">Трансграничные платежи и клиринг</a></li>
                            <li><a class="dropdown-item" href="#">Таможня</a></li>
                            <li><a class="dropdown-item" href="#">Аналитика</a></li> -->
                            <!-- <li><a class="dropdown-item" href="#">Расчеты</a></li>                          -->
                        </ul>
                    </li>
                    <li class="nav-item mx-6">
                        <a class="nav-link text-dark" href="{% url 'contact' %}">Обратная связь</a>
                    </li>

                    {% if request.user.is_superuser %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle color-dark1 " href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Для Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="nav-item color-dark1 text-center"><a class="nav-link fw-bold" target="_blank"
                                    href="{% url 'admin:index' %}">Перейти в Admin панель </a></li>

                            <li class="text-center fw-bold bg-second1">Загрузки</li>
                            <li><a class="dropdown-item color-dark1" href="{% url 'upload_suppliers' %}">Поставщиков
                                    Товаров</a></li>
                            <li><a class="dropdown-item color-dark1" href="{% url 'upload_technology' %}">Поставщиков
                                    Технологий</a></li>
                                    <li><a class="dropdown-item color-dark1" href="{% url 'upload_logistic' %}">Поставщиков
                                    Логистики</a></li>
                            <li><a class="dropdown-item color-dark1"
                                    href="/adminrav25/supplier/category/import/">Загрузить Категории (в
                                    admin)</a></li>
                            <li><a class="dropdown-item color-dark1"
                                    href="/adminrav25/supplier/country/import/">Загрузить Страны (в
                                    admin)</a></li>

                            <li class="text-center fw-bold bg-second1">Списки</li>
                            <li><a class="dropdown-item" href="{% url 'supplier_list' %}">Список Поставщиков</a></li>
                            <li><a class="dropdown-item" href="{% url 'country_list' %}">Список Стран</a></li>
                            <li><a class="dropdown-item" href="{% url 'category_list' %}">Список Категорий</a></li>

                            <!-- <li><a class="dropdown-item" href="{% url 'export_to_excel' %}">Export to Excel</a></li>
                        <li><a class="dropdown-item" href="{% url 'supplier_delete' %}">Supplier_delete</a></li> -->


                        </ul>

                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle color-dark1" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Списки
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'supplier_list' %}">Список Поставщиков</a></li>
                            <li><a class="dropdown-item" href="{% url 'country_list' %}">Список Стран</a></li>
                            <li><a class="dropdown-item" href="{% url 'category_list' %}">Список Категорий</a></li>


                        </ul>
                    </li> -->
                    <!-- <li class="nav-item color-dark1"><a class="nav-link" target="_blank"
                            href="{% url 'admin:index' %}">Admin</a></li> -->


                    {% endif %}

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page" href="{% url 'main' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'supplier_search_demo' %}">Поставщики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'technology_search_demo' %}">Технологии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'logistic_search_demo' %}">Логистика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'tariffs_page' %}">Подписка</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Информация
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'info_page' %}">О приложении</a></li>
                            <li><a class="dropdown-item" href="{% url 'policy' %}" target="_blank">Политика
                                    конфиденциальности</a> </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'register' %}">Зарегистрироваться</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page" href="{% url 'login' %}">Войти в
                            аккаунт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active color-dark1" aria-current="page"
                            href="{% url 'contact' %}">Контакты</a>
                    </li>


                    {% endif %}

                </ul>




                <div class="position-absolute end-0 color-dark1">
                    {% if user.is_authenticated %}
                    <img style="width: 20px;" src="{% static '/images/u.webp' %}" alt="username">
                    <span><b> {{ user.username }} </b></span>
                    <span>
                        <a class="text-decoration-none color-second-text mx-2" type="submit"
                            onclick="return confirm('Вы хотите выйти из аккаунта?')" title="Выйти из аккаунта"
                            href="{% url 'logout' %}">
                            <img style="width: 24px;" src="{% static '/images/v.webp' %}" alt="exit"></a>
                    </span>


                    {% endif %}
                </div>



            </div>
        </div>


    </nav>
</div>