{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mx-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main' %}"><img style="width: 40px;" src="{% static '/logo/logo.png' %}"
                alt="photo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="{% url 'supplier_selection' %}">Поиск поставщика</a>
                </li>
                {% if request.user.is_superuser %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Загрузки
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'upload_suppliers' %}">Загрузить Поставщиков</a></li>
                        <li><a class="dropdown-item" href="#">Загрузить Страны</a></li>
                        <li><a class="dropdown-item" href="#">Загрузить Категории</a></li>
                       
                       
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Списки
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'supplier_list' %}">Список Поставщиков</a></li>
                        <li><a class="dropdown-item" href="{% url 'country_list' %}">Список Стран</a></li>
                        <li><a class="dropdown-item" href="{% url 'category_list' %}">Список Категорий</a></li>
                       
                       
                    </ul>
                </li>
                <li class="nav-item text-secondary"><a class="nav-link" target="_blank" href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}               
               

                <li class="nav-item mx-6">
                    <a class="nav-link " href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            <span class="position-absolute end-0 me-3"> Логин: <b> {{ user.username }} </b></span>
        </div>
    </div>


</nav>