{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
{{ block.super }}: Страны
{% endblock %}

{% block content %}
<div class="row">
  <h3>Страны </h3>
  <div class="col-md-10 m-auto">
    <div class="card card-body">
      {% if items %}
      <table class="table table-striped demotable">
        <thead style="position: sticky;
  top: -1px;
  z-index:1;background: #9d9e9e; font-size:14px">
          <tr>
            <th scope="col">Код</th>
            <th scope="col">Страна</th>
            <th scope="col">Режим ВЭД</th>
          </tr>
        </thead>
        <tbody style="font-size:12px">
          {% for item in items%}
          <tr>


            <td> {{item.code}} </td>
            <td>{{item.country}}</td>
            {% if item.mode == 'a' %}
            <td>Благоприятный</td>
            {% else %}
            <td>Особый</td>
            {% endif %}


          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>Нет данных</p>
      {% endif %}
    </div>

  </div>
</div>
{% endblock %}