{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<form method="get">
 
     {{form}}
    <button type="submit" class="btn btn-primary">Поиск</button>
</form>

<table class="table">
    {% for supplier in suppliers %}
    <tr>
        <td><a href="{% url 'supplier_detail' supplier.pk %}">{{ supplier.name }}</a></td>
        <td>{{ supplier.website }}</td>
        <td>{{ supplier.country.country }}</td>
       
        {%if request.GET.language == 'ru'%}
        <td>{{supplier.product_ru}}</td>
        
        {% else %}
        <td>{{supplier.product}}</td>
        
        {% endif %}

        <td><a href="{% url 'order_create' %}?supplier={{ supplier.name }}&product={{ supplier.product_ru }}" class="btn btn-sm btn-success">Заказать</a></td>
    </tr>
    {% endfor %}
</table>

{% bootstrap_pagination page_obj %}
{% endblock %}